{% from "_macros.html" import navlink_classes %}

<nav class="bg-gray-800 p-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between">        

        <!-- LEFT: Branding + Links -->
        <div class="flex items-center space-x-6">
            <span class="text-2xl font-semibold text-gray-300 mr-6">Portfolio</span>
            <a href="{{ url_for('main.home') }}"
                class="{{ navlink_classes('main.home') }}">
                    Home
            </a>

            <!-- Anchor links for index.html sections -->
            <a href="#current-project" class="{{ navlink_classes('main.home') }}"
                data-section="current-project">Featured</a>
            <a href="#technical-skills" class="{{ navlink_classes('main.home') }}"
                data-section="technical-skills">Skills</a>
            <a href="#projects-experience" class="{{ navlink_classes('main.home') }}"
                data-section="projects-experience">Experience</a>
            <a href="#education" class="{{ navlink_classes('main.home') }}"
                data-section="education">Education</a>
        </div>

        <!-- RIGHT: Language Toggle & (Currently hidden) Link to Register -->
        <div class="relative text-gray-300 space-x-4">
            {# Need to sort out positioning for this - will re-introduce when I properly implement an auth functionality
            <div>
                <a href="{{ url_for('auth.register') }}"
                    class="text-gray-300 hover:bg-gray-700 p-2 rounded no-underline {% if request.endpoint == 'auth.register' %}bg-gray-700{% endif %}">
                        Register
                </a>
            </div>
            #}
            <span class="cursor-pointer" id="language-toggle">{{ lang.upper() }}</span>
            <div class="dropdown hidden" style="position: absolute;" id="lang-select">
                    {% if lang == "de" %}
                        <div id="toggle-en">EN</div>
                    {% else %}
                        <div id="toggle-de">DE</div>
                    {% endif %}
            </div>
        </div>

    </div>
</nav>