<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Isaac Rosdail{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'navbar.html' with context %}
        </header>

        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <footer class="bg-muted">
            &copy; 2025
        </footer>

        <script type="module" src="{{ url_for('static', filename = 'js/bundle.js') }}"></script>
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>