<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Isaac Rosdail{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">

    <link rel="preload" as="style" href="{{ url_for('static', filename = 'css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'navbar.html' with context %}
        </header>

        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <footer class="bg-muted">
            &copy; 2025
        </footer>

        <script type="module" src="{{ url_for('static', filename = 'js/bundle.js') }}"></script>
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>